.gradle
/local.properties
/.idea
.DS_Store
/build
*.iml
/theme/build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/
captures/
.idea/workspace.xml
.idea/libraries
*.jks
.gitignore